.container-collapses {
  overflow: hidden;
  width: 100%;
  // width: 85%;
  // margin: auto;

  &_collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    background-color: #ff6060;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 700;

    @media (min-width: 768px) {
      padding: 15px;
      font-size: 24px;
      // width: 80%;
    }

    &_icon {
      cursor: pointer;
    }
  }

  &_content {
    border-radius: 10px;
    background-color: #f6f6f673;
    color: #000000;
    padding: 20px;
    font-size: 12px;
    font-weight: 400;
    margin-top: -7px;
    position: relative;
    z-index: -1;

    @media (min-width: 768px) {
      margin-inline: auto;
      font-size: 18px;
    }
  }

  .displayInitial {
    display: none;
  }

  .dropDown {
    animation: dropDown 0.3s ease-in-out both;
  }

  .dropUp {
    animation: dropUp 0.3s ease-in-out both;
  }
}

.anticlockwiseRotationIcon {
  animation: anticlockwiseRotationIcon 0.3s ease both;
}

.clockwiseRotationIcon {
  animation: clockwiseRotationIcon 0.3s ease alternate-reverse both;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes clockwiseRotationIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes anticlockwiseRotationIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
